.horario {
  background: #093028;
  background: linear-gradient(
    to right,
    #093028,#237A57
  );
  color: goldenrod;
}

.parafox {
  padding: 0px 0px 10px 0px;
}
.hro {
  padding: 5px 0px 0px 0px;
}