.enlace {
  font-size: 15px;
  margin-left: 10px;
}
.natbar {
  background-color: #06121d;
}
.goodland {
  color: #34E89E;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
}
