.servicios {
  background: #093028;
  background: linear-gradient(to right,
      #093028, #237A57);
}


.texto {
  margin: 0%;
  padding-top: 5px;
}
.celda {
  border-radius: 30px;
}
.parrafox {
  padding: 0px 0px 10px 0px;
}